TablassertApp {
    layout: vertical;
    layers: header body footer;
    background: #1a1b26;
    color: #a9b1d6;
}

TablassertApp > Header {
    layer: header;
    background: #16161e;
    color: #7aa2f7;
    text-style: bold;
}

TablassertApp > Header > .header__icon {
    color: #7aa2f7;
}

#main-body {
    height: 1fr;
    layer: body;
}

#left-column {
    width: 2fr;
    border: round #7aa2f7;
    background: #24283b;
    scrollbar-gutter: stable;
    overflow-y: auto;
    padding: 1 2;
}

#right-column {
    width: 3fr;
    border: round #7aa2f7;
    background: #24283b;
    scrollbar-gutter: stable;
    overflow-y: auto;
    padding: 1 2;
}

StageProgress {
    height: auto;
    padding: 1 0;
    border-bottom: solid #565f89;
}

StageProgress > Label {
    text-style: bold;
    color: #7dcfff;
    margin-bottom: 1;
}

StageProgress > ProgressBar {
    margin-top: 1;
}

StageProgress > ProgressBar > .bar {
    background: #414868;
}

StageProgress > ProgressBar > .bar > .bar--complete {
    background: #73daca;
}

SectionDetails {
    height: 1fr;
    padding: 1 0;
    margin-top: 1;
}

SectionDetails > .title {
    text-style: bold;
    background: #7aa2f7;
    color: #1a1b26;
    width: 100%;
    content-align: center middle;
    padding: 1 0;
}

SectionDetails > #section-content {
    padding: 1 1 0 1;
    border: round #7aa2f7;
    background: #1a1b26;
    color: #a9b1d6;
}

LogPanel {
    height: 1fr;
    border: round #7aa2f7;
    scrollbar-gutter: stable;
    background: #1a1b26;
    color: #a9b1d6;
    padding: 1;
}

LogPanel:focus {
    border: round #bb9af7;
}

StatsFooter {
    dock: bottom;
    height: auto;
    background: #16161e;
    color: #73daca;
    content-align: center middle;
    text-style: bold;
    padding: 1 2;
}

TablassertApp > Footer {
    background: #16161e;
    color: #565f89;
}

VerticalScroll:focus {
    border: round #bb9af7;
}
