*.egg-info
*.python-version
*__pycache__/
*.logs/
*.opencode/
*.ruff_cache/
*.pytest_cache/
*plans/
*specs/
*.storassert/
*.logassert/
*DATALAKE/
*.onnxassert/
*.claude/
*.envrc
*venv/
*.log
*.duckdb
*.ndjson
*.wal
*.sh
*.pyc
*.tar.gz
*.whl
*dist/
*.ledger/
