*.egg-info
*__pycache__/
*.logs/
*.opencode/
*.sisyphus/
*.ruff_cache/
*plans/
*CLAUDE.md
*.claude/
*cachessert/
*storessert/
*logassert/
*DATALAKE/
*.planning/
*onnx/
*venv/
*.log
*.duckdb
*.ndjson
*.wal
*.sh
*result/
*result